{% extends 'base.html.twig' %}

{% block title %}Anime index{% endblock %}

{% block body %}
    <h1>Anime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anime in animes %}
            <tr>
                <td>{{ anime.id }}</td>
                <td>{{ anime.title }}</td>
                <td>{{ anime.description }}</td>
                {% if anime.image %}
                    <img src="/images/{{ anime.image }}" alt="{{ anime.title }}" style="max-width: 100px;">
                {% endif %}
                <td>{{ anime.releaseDate ? anime.releaseDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_anime_show', {'id': anime.id}) }}">show</a>
                    <a href="{{ path('app_anime_edit', {'id': anime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_anime_new') }}">Create new</a>
{% endblock %}
